name: CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  test:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v4

      - name: Install Tuist
        run: brew install tuist

      - name: Run Tests
        run: tuist test

      - name: Test SPM Integration
        run: ./Scripts/test-spm-integration.sh

      - name: Test Tuist+SPM Integration
        run: ./Scripts/test-tuist-spm-integration.sh
